<div class="d-flex justify-content-between align-items-center px-4 mt-4 mb-2">
    <h5 class="fw-bold mb-0">Lançamentos</h5>
    <a href="#" class="text-decoration-none fw-semibold text-primary">Ver mais</a>
  </div>

  <div id="carouselLançamentos" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">
    <div class="carousel-inner">
  
      <div class="carousel-item active">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit </h6>
                  <p class="text-muted mb-1"><del>R$ 100</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 79,90</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$7,90</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
  
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit </h6>
                  <p class="text-muted mb-1"><del>R$ 200</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 180</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$18</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
  
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit </h6>
                  <p class="text-muted mb-1"><del>R$ 300</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 270</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$27</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
  
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit </h6>
                  <p class="text-muted mb-1"><del>R$ 400</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 360</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$36</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>

            
  
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit </h6>
                  <p class="text-muted mb-1"><del>R$ 500</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 450</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$45</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
  
          </div>
          
        </div>
        
      </div>
      
  
      <div class="carousel-item">
        <div class="container">
          <div class="row justify-content-center">
        
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto 6">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit</h6>
                  <p class="text-muted mb-1"><del>R$ 600</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 540</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$54</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
        
            <!-- Produto 7 -->
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto 7">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit</h6>
                  <p class="text-muted mb-1"><del>R$ 700</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 630</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$63</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
        
            <!-- Produto 8 -->
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto 8">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit</h6>
                  <p class="text-muted mb-1"><del>R$ 800</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 720</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$72</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
        
            <!-- Produto 9 -->
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto 9">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit</h6>
                  <p class="text-muted mb-1"><del>R$ 900</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 810</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$81</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
        
            <!-- Produto 10 -->
            <div class="col-md-2 mx-2">
              <div class="card h-100">
                <span class="badge-novo">NOVO</span>
                <img src="assets/7d52d6af45bdbc2b2d315fe332eb521b.png" class="card-img-top carousel-img" alt="Produto 10">
                <div class="card-body text-center">
                  <h6 class="card-title">Lorem ipsum dolor sit amet consectetuer adipiscing elit</h6>
                  <p class="text-muted mb-1"><del>R$ 1000</del> <span class="text-white fw-bold" style="background-color: #5EC0BE; padding: 0.2em; border-radius: 0.3em;">10% OFF</span></p>
                  <p class="fw-bold text-primary">R$ 900</p>
                  <p>ou em até <strong>10x</strong> de <strong>R$90</strong></p>
                  <button class="btn btn-carousel btn-sm">Comprar</button>
                </div>
              </div>
            </div>
        
          </div>
        </div>
        
      </div>
  
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselLançamentos" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselLançamentos" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
  
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLançamentos" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLançamentos" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Próximo</span>
    </button>
  </div>