<section class="banner d-flex align-items-center justify-content-center text-white text-center">
    <div class="div p-3">
      <h5 class="fw-bold">Entre em contato conosco e verifique a disponibilidade para sua região!</h5>
    </div>
  </section>
  
  <section class="py-5 bg-light text-center">
    <div class="container">
      <p class="mb-4 fw-semibold">Cadastre-se na nossa <a href="#" class="text-primary text-decoration-none fw-bold">newsletter</a></p>
      <div class="bg-secondary-subtle p-5 rounded">
        <form class="row g-2 justify-content-center align-items-center">
          <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Digite seu nome">
          </div>
          <div class="col-md-3">
            <input type="email" class="form-control" placeholder="Digite seu e-mail">
          </div>
          <div class="col-md-3 d-flex align-items-center justify-content-start">
            <input class="form-check-input me-2" type="checkbox" id="politica">
            <label class="form-check-label small" for="politica">
              Estou de acordo com a <a href="#" class="text-decoration-none">Política de Privacidade</a>
            </label>
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </section>
    